[submodule "iOSDevWeekly/Vendor/AFNetworking"]
	path = iOSDevWeekly/Vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "iOSDevWeekly/Vendor/GDataXML-HTML"]
	path = iOSDevWeekly/Vendor/GDataXML-HTML
	url = https://github.com/graetzer/GDataXML-HTML.git
[submodule "iOSDevWeekly/Vendor/SBLayoutManager"]
	path = iOSDevWeekly/Vendor/SBLayoutManager
url=https://github.com/cogun/SBLayoutManager.git
